.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
}

.heart-effect {
  font-size: 2rem;
  position: absolute;
  animation: pulse 1.8s infinite ease-in-out;
  opacity: 0.7;
}

.top-left {
  top: 10px;
  left: 15px;
}

.bottom-right {
  bottom: 10px;
  right: 15px;
}

@media (max-width: 768px) {
  .modal-backdrop {
    background-attachment: fixed !important;
    background-size: cover !important;
    background-position: center !important;

    .modal-title{
      background-color: rgb(58, 0, 0);
      border-radius: 50px;
      opacity: 0.9;
    }
  }
}


